@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProReg.eot');
  src: local('☺'), url('../fonts/GothaProReg.woff') format('woff'), url('fonts/GothaProReg.ttf') format('truetype'), url('fonts/GothaProReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProBla.eot');
  src: local('☺'), url('fonts/GothaProBla.woff') format('woff'), url('fonts/GothaProBla.ttf') format('truetype'), url('fonts/GothaProBla.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
